.webpass
*.swp
*.list
*.domains
*.db
*.bak
pihole/GitHubVersions
pihole/list.*
pihole/localbranches
pihole/localversions
pihole/setupVars.conf
dnsmasq/01-pihole.conf
!pihole/lan.list
!pihole/adlists.list
!pihole/black.list
!pihole/white.list
